/* globals */

body {
    font-family:  'Cambo', serif;
    position: relative;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

a {
    color: #458dc9;
}

a:hover{
    color: #666;
}

h1, h2, h3, h4, h5, h6, span {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

h1 {
    font-size: 5em;
    color: #000;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
    color:#999;
}

h4 {
    font-size: 3em;
    color: #999;
}

h5 {
    font-size: 1em;
    color:#ccc;
}

h6 {
    font-size: 0.8em;
    color:#999;
}

hr {
    border-top: 1px solid #000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table{
    margin: 3em 0;
    padding: 1em;
    font-size: 0.8em;
    box-shadow: 1px 2px 4px rgba(100, 100, 100, 0.3);
}

table thead tr td{
    border-bottom: 1px solid #ccc;
}

span.code{
    color:#666;
    background:#dddbc7;
}

.clear{
    clear: both;
}

.pull-right{
    float: right;
}

.home-intro{
    position: relative;
    padding: 20% 0;
}

nav{
    position: fixed;
    left: 0px;
    font-size: 0.8em;
    font-family: 'Varela Round', sans-serif;
    background: #fff;
    line-height: 2em;
    padding: 1em;
    z-index: 999;
}

nav ul li{
    border-bottom: 1px solid #ccc;
}

nav ul li a{ color: #999; text-decoration: none;}

nav ul li a:hover{ color:#458dc9; }


/*animations*/

.ani{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.ani.fast{
    transition-duration: 0.5s;
}

.ani.slow{
    transition-duration: 2s;
}

    .fadeIn.seq0{
        opacity: 0;
    }

    .fadeIn.seq1{
        opacity: 1;
    }

    .vert-flyIn.seq0{
        transform: translate(0,-100px);
        opacity: 0;
    }

    .vert-flyIn.seq1{
        transform: translate(0,0);
        opacity: 1;
    }


/*page elements*/

textarea{
    resize: none;
    border: 0;
    background: #fff;
    color: #999;
    display: block;
    padding: 1em;
    margin: 1em 0;
}

.anim-demo{
    outline: 5px solid #eee;
    padding: 1em;
}

.my-hover-box{
    font-size: 2em;
    text-align: center;
    color:#d87373;
    cursor: pointer;
}

.my-hover-box p{
    margin: 0;
}

.my-hover-box p{
    opacity: 0;
    transform: translate(0, -100px);
    transition-duration: 1s;
}

.my-hover-box:hover p{
    opacity: 1;
    transform: translate(0, 0);
}

.my-hover-box textarea.h0{
    color:#000;
    border-top: 3px solid #5ecc48;
}

.my-hover-box:hover textarea.h0{
    color:#999;
    border-top: 3px solid #fff;
}

.my-hover-box:hover textarea.h1{
    color:#000;
    border-top: 3px solid #5ecc48;
}

@media only screen and (max-width: 767px) {
    body{
        font-size: 0.5em;
    }
}
